<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;"> Tutaj dowiesz się więcej na temat wybranego zwierzaka</h2>
    <img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">
    <center>
        <a href="/" class="powrót">Powrót na stronę główną</a>
    </center>

    <header>
        <span class="title"></span>
    </header>

    <h1 class="naglowek">Informacje o zwierzątku:</h1>
    <div class="zwierzeinfo">
    Imie:
    <label th:text="${zwierze.imie}"></label>
    <p></p>
    Gatunek:
    <label th:text="${zwierze.Gatunek}"></label>
    <p></p>
        Wiek
        <label th:text="${zwierze.Wiek}"class="text"></label>
        <p></p>
    Rasa:
    <label th:text="${zwierze.getRasa()}"></label>
    <p></p>
    Umaszczenie:
    <label th:text="${zwierze.getUmaszczenie()}"></label>
    <p></p>
    Wielkosc:
    <label th:text="${zwierze.getWielkosc()}"></label>
    <p></p>
    Płeć:
    <label th:text="${zwierze.getPlec()}"></label>
    <p></p>
    Czy do adopcji:
    <label th:text="${zwierze.CzyDoAdopcji}"></label>
    <p></p>
    Czy akceptuje dzieci:
    <label th:text="${zwierze.CzyDzieci}"></label>
    <p></p>
    Czy akceptuje koty:
    <label th:text="${zwierze.CzyKoty}"></label>
    <p></p>
    Czy akceptuje psy:
    <label th:text="${zwierze.CzyPsy}"></label>
    <p></p>
    Numer kojca:
    <label th:text="${zwierze.getNrKojca()}"></label>
    <p></p>
    Opis
    <label th:text="${zwierze.opis}"class="text"></label>
    </div>

    <div>
    <img th:src="@{${zwierze.AdresUrl1}}" class="zdjecie1">
    <p></p>
    <img th:src="@{${zwierze.AdresUrl2}}" class="zdjecie2">
    <p></p>
    <img th:src="@{${zwierze.AdresUrl3}}" class="zdjecie3">
    <p></p>
    </div>

    <p></p>
    <center>
    <h1 class="naglowek">Informacje o opiekunie:</h1>
    <div>
        <p th:text="${opiekun.imie}"></p>
        <p th:text="${opiekun.nazwisko}"></p>
        <p>Numer telefonu</p>
        <p th:text="${opiekun.nrTel}"></p>
        <img th:src="@{${opiekun.AdresUrlCzlowiek}}" class="opiekun">
    </div>
    </center>

</body>
</html>