body{
    background-color: #ebddcd;
    margin: 0;
}

h1{
    color: #594842;
    }

h2{
    margin-left: 175px;
    margin-right: 175px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding: 10px;
}

.logo {
    font-family: "ZP Absolute Boundaries"; /* Ustawienie rodzaju czcionki */
}

div{
    letter-spacing: normal;
    background-color: #99B8BF;
}

header{
    margin-top: 30px;
    background-color:#735B56;
}

.title{
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 200px;
}

.Logo-left {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 170px;
    height: 150px;
}

.logowanie {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #594842;
    color: #F2EEEB;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.logowanie:hover {
    background-color: #af8868;
}

.powrót {
    background-color: #594842;
    color: #F2EEEB;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.powrót:hover {
    background-color: #af8868;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3eae3;
    border-radius: 15px;

  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 378px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .form-group button {
    width: 100%;
    background-color: #204f85;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
  }

  .form-group button:hover {
    background-color: #99B8BF;
  }

  formbutton {
      position: absolute;
      top: 55px;
      right: 25px;
    }

    button {
      background-color: #af8868;
      color: white;
      padding: 10px 20px;
    }

    .wybranezw {

      background-color: #594842;
      color: #F2EEEB;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
  }

    .wybranezw:hover {
        background-color: #af8868;
    }

    p1 {
      padding: 10px 20px;
      text-decoration: none;
      color: rgb(71, 60, 40);
    }

    h3 {
      padding: 10px 20px;
      text-decoration: none;
      color: rgb(71, 60, 40);
    }

    p {
      text-align: center;
      padding-top: 10px; /* Dodatkowy odstęp na górze */
      color: #594842;
      font-weight: bold;
        display: flex;
        justify-content: center; /* Wyśrodkowanie w poziomie */
        align-items: center; /* Wyśrodkowanie w pionie */
    }

    .opiekun {
      max-width: 300px; /* Maksymalna szerokość zdjęcia */
      max-height: 300px; /* Maksymalna szerokość zdjęcia */
      border: 2px solid black; /* Grubość i styl obramowania */
      padding: 5px; /* Wypełnienie wewnątrz obramowania */
      }

      .zdjecie1 {
           position: absolute;
            top: 300px;
            right: 700px;
            max-width: 400px; /* Maksymalna szerokość zdjęcia */
            max-height: 400px; /* Maksymalna szerokość zdjęcia */
            border: 2px solid black; /* Grubość i styl obramowania */
            padding: 5px; /* Wypełnienie wewnątrz obramowania */
      }

      .zdjecie2 {
           position: absolute;
            top: 400px;
            right: 200px;
            max-width: 400px; /* Maksymalna szerokość zdjęcia */
            max-height: 400px; /* Maksymalna szerokość zdjęcia */
            border: 2px solid black; /* Grubość i styl obramowania */
            padding: 5px; /* Wypełnienie wewnątrz obramowania */
      }

      .zdjecie3 {
           position: absolute;
            top: 500px;
            right: 500px;
            max-width: 500px; /* Maksymalna szerokość zdjęcia */
            max-height: 500px; /* Maksymalna szerokość zdjęcia */
            border: 2px solid black; /* Grubość i styl obramowania */
            padding: 5px; /* Wypełnienie wewnątrz obramowania */
      }

      .text {
         font-weight: bold;
         text-align: right;
       }

       .naglowek {
        background-color: #d2e8f7;
       }

       .zwierze-info {
          border: 2px solid #1E90FF;
          border-radius: 10px;
          padding: 10px;
          margin-left: auto;
           font-size: 20px;
       }

       .opiekunowie {
           display: inline-block;
       }

       .info {
          background-color: #ba8b5b;
          border-radius: 10px;
          padding: 10px;
       }

       .zdjecieszukaj {
            max-width: 180px; /* Maksymalna szerokość zdjęcia */
            max-height: 180px; /* Maksymalna szerokość zdjęcia */
            margin-right: 10px;
            padding: 20px;
            position: flex;
            border-radius: 50%; /* Ustawienie promienia 50% dla okrągłego kształtu */
       }

       .obok{
             display: flex;
             align-items: center;
               border: 10px solid #ebddcd; /* Ustawienie grubości, stylu i koloru ramki */
               padding: 10px; /* Dodatkowy margines wewnątrz diva */
       }

       .zwierze-button {
            position: flex;
            margin-left: 50px;
       }

