<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title </title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css">
    <title>Panel logowania</title>
</head>
<body>
<!--ogarnac linki zeby dizalaly z odpalona aplikacja!!!!!!!!!!!!!!!-->
    <img src="/src/logo.png" alt="Logo-left" class="Logo-left">
    <h2 style="color:saddlebrown;">Panel logowania</h2>
    <center>
     <a href="mainview.html" class="powrót">Powrót na stronę główną</a>
    </center>

    <header>
        <span class="title"></span>
    </header>

<p></p>

    <div class="container">
        <h1>Logowanie </h1>
        <form th:action="@{/logowanie/mainview/form}" method="post">
          <div class="form-group">
              <label for="password">Hasło:</label>
              <input type="password" id="password" name="password" required th:value="${haslo}">

          </div>
          <div class="form-group">
            <button type="submit"th:action="@{/logowanie/submintForm}">Zaloguj</button>
          </div>
        </form>
      </div>


</body>
</html>