<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title </title>
     <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css">-->
    <title>Panel logowania</title>
</head>
<body>
<!--ogarnac linki zeby dizalaly z odpalona aplikacja!!!!!!!!!!!!!!!-->
    <img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">
    <h2 style="color:saddlebrown;">Panel logowania</h2>
    <center>
     <a href="/" class="powrót">Powrót na stronę główną</a>
    </center>

    <header>
        <span class="title"></span>
    </header>

 <!-- info o bledzie -->
 <p th:text="${error}" style="color: red;"></p>

 <center>
    <div class="container">
        <h1>Logowanie </h1>
        <form th:action="@{/logowanie/submitForm}" method="post">
          <div class="form-group">
              <label for="password">Hasło:</label>
              <input type="password" id="password" name="password" required th:value="${haslo}">
          </div>
          <div class="form-group">
            <button type="submit">Zaloguj</button>
          </div>
        </form>
      </div>
  </center>

</body>
</html>