<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<h2 style="color:saddlebrown;" class="logo"> Schronisko Łapka </h2>
<img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">

<center>
    <a href="/logowaniemain" class="powrót">Zaloguj</a>
</center>

<header>
    <span class="title"></span>
</header>
<h1>Filtry do wyszukiwania</h1>
<form action="/Wyniki" method="get">
    <label>Imie</label>
    <input type="text" name="Imie" >
    <label>NrKojca</label>
    <input type="text" name="NrKojca" >
    <label>Gatunek</label>
    <input type="text" name="Gatunek" >
    <label>Plec</label>
    <select name="Plec">
        <option value="">Wybierz</option>
        <option value="samiec">Samiec</option>
        <option value="samica">Samica</option>
    </select>
    <label>Umaszczenie</label>
    <input type="text" name="Umaszczenie" >
    <label>Rasa</label>
    <input type="text" name="Rasa" >
    <label>Wielkosc</label>
    <select name="Wielkosc" >
        <option value="">Wybierz</option>
        <option value="maly">mały</option>
        <option value="sredni">średni</option>
        <option value="duży">duży</option>
    </select>
    <label>Czy do adopcji</label>
    <select name="CzyDoAdopcji" >
        <option value="">Wybierz</option>
        <option value="true">Tak</option>
        <option value="false">Nie</option>
    </select>
    <label>Czy akceptuje psy</label>
    <select name="CzyPsy" >
        <option value="">Wybierz</option>
        <option value="true">Tak</option>
        <option value="false">Nie</option>
    </select>
    <label>Czy akceptuje koty</label>
    <select name="CzyKoty" >
        <option value="">Wybierz</option>
        <option value="true">Tak</option>
        <option value="false">Nie</option>
    </select>
    <label>Czy akceptuje dzieci</label>
    <select name="CzyDzieci" >
        <option value="">Wybierz</option>
        <option value="true">Tak</option>
        <option value="false">Nie</option>
    </select>

    <button type="submit">Wyszukaj</button>
</form>

<h1>Poznaj naszych opiekunów: </h1>
<center>
<div th:each="opiekun:${opiekunList}" class="opiekunowie">
    <p th:text="${opiekun.imie}" class="info"></p>
    <p th:text="${opiekun.nazwisko}" class="info"></p>
    <p>Numer telefonu</p>
    <p th:text="${opiekun.nrTel}"></p>
    <p>Liczba zwierząt pod opieką:</p>
    <p th:text="${opiekun.iloscPodOpieka}"></p>
    <p>Lata doświadczenia:</p>
    <p th:text="${opiekun.doswiadczenie}"></p>
    <img th:src="@{${opiekun.AdresUrlCzlowiek}}" class="opiekun">
</div>
</center>

</body>
</html>