<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title </title><link rel="stylesheet" type="text/css" href="/css/style.css">
<!--        laczenie ze style.css, ale na razie jako komentarz bo bede wszystko robic w visualstudio-->
<!--        wiec chwilowo jest innny link do style.css. pozdrawiam -->
<!--    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/style.css"> -->
</head>
<body>
    <h2 style="color:saddlebrown;"> To jest głowna strona, dzieki niej mozesz sie zalogowac jako admin lub wyszukac zwierzeta </h2>
    <img src="/src/logo.png" alt="Logo-left" class="Logo-left">
    
    <a href="logowanie.html" class="button">Zaloguj się</a>
   
    <header>
        <span class="title"></span>
    </header>

   
</body>
</html>