<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;">Tutaj możesz dodać opiekuna</h2>
    <img src="/logo.png" alt="Logo-left" class="Logo-left">

    <center>
        <a href="/logowaniemain" class="powrót">Powrót na stronę główną</a>
        <a href="/adminHome" class="powrót">Powrót na stronę główną dla admina</a>
    </center>
    <header>
        <span class="title"></span>
    </header>
    <h1>Wybierz opiekuna zwierzaka:</h1>
    <div th:each="opiekun:${opiekunList}">
        <p th:text="${opiekun.imie}"></p>
        <p th:text="${opiekun.nazwisko}"></p>
        <p>Ilosc zwierzat pod opieka:</p>
        <p th:text="${opiekun.iloscPodOpieka}"></p>
        <img th:src="@{${opiekun.AdresUrlCzlowiek}}">
        <form th:action="@{/adminHomeWybranyOpiekun}" method="GET">
            <input type="hidden" th:name="id_opiekuna" th:value="${opiekun.IdOpiekuna}" />
            <button type="submit">Wybieram</button>
        </form>
    </div>
</body>
</html>