<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;">Tutaj mousisz dodać informacje o zdrowiu zwierzaka</h2>
    <img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">

    <center>
        <a href="/logowaniemain" class="powrót">Powrót na stronę główną</a>
        <a href="/adminHome" class="powrót">Powrót na stronę główną dla admina</a>
    </center>
    <header>
        <span class="title"></span>
    </header>
    <form th:action="@{/adminHomeZdrowie}" method="post">
        <h1>Informacje o zdrowiu zwierzaka</h1>
        <label>CzySzczepiony:</label>
        <input type="text" name="CzySczepiony" required>
        <label>Choroby:</label>
        <input type="text" name="Choroby" required>
        <label>Leki</label>
        <input type="text" name="Leki" required>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>