<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <form th:action="@{/adminHomeZdrowie}" method="post">
        <h1>Informacje o zdrowiu zwierzaka</h1>
        <label>CzySzczepiony:</label>
        <input type="text" name="CzySczepiony" required>
        <label>Choroby:</label>
        <input type="text" name="Choroby" required>
        <label>Leki</label>
        <input type="text" name="Leki" required>
        <button type="submit">Dodaj</button>
    </form>
</body>
</html>