<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> //laczenie ze style.css
</head>
<body>
      <p>tutaj bedzie panel zwierzaka (ten z wiecje info) i mozliwosscia wypelnienia fromularza</p>
    <button>Edytuj </button> <p>tu mozna dac tak zeby fajnie sie zamianialy pola wyswietlania info zeby m
      mozna ylo je edytowac</p>
    <button>Usuń</button>
</body>
</html>