<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;">Wyszukaj lub  dodaj  zwierzę lub opiekuna</h2>
    <img src="/logo.png" alt="Logo-left" class="Logo-left">

    <center>
        <a href="/logowaniemain" class="powrót">Powrót na stronę główną</a>
    </center>
    <header>
        <span class="title"></span>
    </header>
    <h1>Filtry do wyszukiwania</h1>
    <form action="/adminWyniki" method="get">
        <label>Id</label>
        <input type="text" name="Id" >
        <label>Imie</label>
        <input type="text" name="Imie" >
        <label>NrKojca</label>
        <input type="number" name="NrKojca">
        <label>Gatunek</label>
        <button type="submit">Wyszukaj</button>
    </form>
    <h1>Dodawanie zwierzecia</h1>
    <form th:action="@{/adminHomeZwierze}" method="post">
        <!--        tu mozna zrobic zeby bylo do wyboru ladnie sie rozwijalo i id to bedziemy raczej po kolei przydzielac -->
        <!--        <label>Id</label>-->
        <!--        <input type="number" name="Id" required>-->
        <label>Imie</label>
        <input type="text" name="Imie" required>
        <label>NrKojca</label>
        <input type="text" name="NrKojca" required>
        <label>Gatunek</label>
        <input type="text" name="Gatunek" required>
        <label>Plec</label>
        <input type="text" name="Plec" required>
        <label>Umaszczenie</label>
        <input type="text" name="Umaszczenie" required>
        <label>Rasa</label>
        <input type="text" name="Rasa" required>
        <label>Wielkosc</label>
        <input type="text" name="Wielkosc" required>
        <label>Czy do adopcji</label>
        <input type="text" name="CzyDoAdopcji" required>
        <label>Czy akceptuje psy</label>
        <input type="text" name="CzyPsy" required>
        <label>Czy akceptuje koty</label>
        <input type="text" name="CzyKoty" required>
        <label>Czy akceptuje dzieci</label>
        <input type="text" name="CzyDzieci" required>
        <label>urlImg1</label>
        <input type="text" name="AdresUrl1">
        <label>urlImg2</label>
        <input type="text" name="AdresUrl2">
        <label>urlImg3</label>
        <input type="text" name="AdresUrl3">
        <button type="submit">Dodaj</button>

    </form>


    <form th:action="@{/adminHomeOpiekun}" method="post">
        <h1>Dodawanie nowego opiekuna</h1>
        <label>Imie</label>
        <input type="text" name="Imie" required>
        <label>Nazwisko</label>
        <input type="text" name="Nazwisko" required>
        <label>Numer telefonu</label>
        <input type="text" name="NrTel" required>
        <label>Lata doświadczenia:</label>
        <input type="number" name="Doswiadczenie" required>
        <label>AdresUrlCzlowiek</label>
        <input type="text" name="AdresUrlCzlowiek">

        <button type="submit">Dodaj</button>
    </form>
</body>
</html>
<!--public int Id;-->
<!--public String Imie;-->
<!--public int NrKojca;-->
<!--public char Gatunek;//p/k-->
<!--public char Plec;//k/m-->
<!--public String Rasa;-->
<!--public String Umaszczenie;-->
<!--public String Wielkosc; //maly/sredni/duzy-->
<!--public boolean CzyDoAdopcji;-->
<!--public boolean CzyPsy; //czy moze zyc zpsami-->
<!--public boolean CzyKoty;-->
<!--public boolean CzyDzieci;-->