<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;">Informacje na temat wybranego zwierzęcia</h2>
    <img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">

    <center>
        <a href="/logowaniemain" class="powrót">Powrót na stronę główną</a>
        <a href="/adminHome" class="powrót">Powrót na stronę główną dla admina</a>
    </center>
    <header>
        <span class="title"></span>
    </header>

    <h3>Informacje o zwierzątku:</h3>
    Imie:
    <label th:text="${zwierze.imie}"></label>
    <p></p>

    Gatunek:
    <label th:text="${zwierze.Gatunek}"></label>
    <p></p>

    Rasa:
    <label th:text="${zwierze.getRasa()}"></label>
    <p></p>

    Umaszczenie:
    <label th:text="${zwierze.getUmaszczenie()}"></label>
    <p></p>

    Wielkosc:
    <label th:text="${zwierze.getWielkosc()}"></label>
    <p></p>

    Płeć:
    <label th:text="${zwierze.getPlec()}"></label>
    <p></p>
    Czy do adopcji:
    <label th:text="${zwierze.CzyDoAdopcji}"></label>
    <p></p>
    Czy akceptuje dzieci:
    <label th:text="${zwierze.CzyDzieci}"></label>
    <p></p>
    Czy akceptuje koty:
    <label th:text="${zwierze.CzyKoty}"></label>
    <p></p>
    Czy akceptuje psy:
    <label th:text="${zwierze.CzyPsy}"></label>
    <p></p>
    Numer kojca:
    <label th:text="${zwierze.getNrKojca()}"></label>
    <p></p>


    <img th:src="@{${zwierze.AdresUrl1}}">
    <p></p>
    <img th:src="@{${zwierze.AdresUrl2}}">
    <p></p>
    <img th:src="@{${zwierze.AdresUrl3}}">
    <p></p>


    <h1>Informacje o zdrowiu:</h1>
    <p>Czy szczepiony:</p>
    <p th:text="${zdrowie.czySczepiony}"></p>
    <p>Choroby:</p>
    <p th:text="${zdrowie.choroby}"></p>
    <p>Leki:</p>
    <p th:text="${zdrowie.leki}"></p>


    <h3>Informacje o opiekunie:</h3>
    <p>Imie</p>
    <label th:text="${opiekun.imie}"></label>
    <p></p>
    <p>Nazwisko</p>
    <label th:text="${opiekun.nazwisko}"></label>
    <p></p>
    <p>Numer telefonu</p>
    <label th:text="${opiekun.nrTel}"></label>
    <p></p>
    <img th:src="@{${opiekun.AdresUrlCzlowiek}}">


    <form th:action="@{/usun}" method="post">
        <input type="hidden" th:name="id" th:value="${zwierze.id}" />
        <button type="submit">Usuń</button>
    </form>

</body>
</html>