<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"> //laczenie ze style.css
</head>
<body>
    <!--tu bedzie dodawanie zwierzecia-->
    <p>na tej stronie bedzie to samo co na home z mozliwoscia dodawania i usuwania edytowania i wiecej inforamcji i formularz przy kazdym piesku</p>
    <h1>Dodawanie zwierzecia</h1>
    <form th:action="@{/adminHome}" method="post">
<!--        tu mozna zrobic zeby bylo do wyboru ladnie sie rozwijalo i id to bedziemy raczej po kolei przydzielac -->
<!--        <label>Id</label>-->
<!--        <input type="number" name="Id" required>-->
        <label>Imie</label>
        <input type="text" name="Imie" required>
        <label>NrKojca</label>
        <input type="number" name="NrKojca" required>
        <label>Gatunek</label>
        <input type="text" name="Gatunek" required>
        <label>Plec</label>
        <input type="text" name="Plec" required>
        <label>Umaszczenie</label>
        <input type="text" name="Umaszczenie" required>
        <label>Czy do adopcji</label>
        <input type="text" name="CzyDoAdopcji" required>
        <label>Czy akceptuje psy</label>
        <input type="text" name="CzyPsy" required>
        <label>Czy akceptuje koty</label>
        <input type="text" name="CzyKoty" required>
        <label>Czy akceptuje dzieci</label>
        <input type="text" name="CzyDzieci" required>
        <button type="submit">Dodaj</button>
    </form>
    <p>twyszukiwarka bla bla bla</p>
    <form action="/adminWyniki" method="GET">
        <button type="submit">Wyszukaj</button>
    </form>
</body>
</html>
<!--public int Id;-->
<!--public String Imie;-->
<!--public int NrKojca;-->
<!--public char Gatunek;//p/k-->
<!--public char Plec;//k/m-->
<!--public String Rasa;-->
<!--public String Umaszczenie;-->
<!--public String Wielkosc; //maly/sredni/duzy-->
<!--public boolean CzyDoAdopcji;-->
<!--public boolean CzyPsy; //czy moze zyc zpsami-->
<!--public boolean CzyKoty;-->
<!--public boolean CzyDzieci;-->