<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2 style="color:saddlebrown;">Wyszukaj lub  dodaj  zwierzę lub opiekuna</h2>
    <img src="https://i.pinimg.com/564x/4b/55/0e/4b550ed0f77e4681a2d3d5c778b1d0f3.jpg" class="Logo-left">

    <center>
        <a href="/" class="powrót">Powrót na stronę główną</a>
    </center>
    <header>
        <span class="title"></span>
    </header>
    <h1>Filtry do wyszukiwania</h1>
    <form action="/adminWyniki" method="get">
        <label>Id</label>
        <input type="text" name="Id" >
        <label>Imie</label>
        <input type="text" name="Imie" >
        <label>NrKojca</label>
        <input type="number" name="NrKojca">
        <label>Gatunek</label>
        <button type="submit">Wyszukaj</button>
    </form>

    <!--        tu mozna zrobic zeby bylo do wyboru ladnie sie rozwijalo i id to bedziemy raczej po kolei przydzielac -->
    <!--        <label>Id</label>-->
    <!--        <input type="number" name="Id" required>-->
    <h1>Dodawanie zwierzecia</h1>
    <form th:action="@{/adminHomeZwierze}" method="post">
        <label>Imie</label>
        <input type="text" name="Imie" required>
        <label>NrKojca</label>
        <input type="text" name="NrKojca" required>
        <label>Gatunek</label>
        <input type="text" name="Gatunek" required>
        <label>Plec</label>
        <select name="Plec" required>
            <option value="samiec">Samiec</option>
            <option value="samica">Samica</option>
        </select>
        <label>Umaszczenie</label>
        <input type="text" name="Umaszczenie" required>
        <label>Rasa</label>
        <input type="text" name="Rasa" required>
        <label>Wielkosc</label>
        <select name="Wielkosc" required>
            <option value="maly">mały</option>
            <option value="sredni">średni</option>
            <option value="duży">duży</option>
        </select>
        <label>Czy do adopcji</label>
        <select name="CzyDoAdopcji" required>
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
        <label>Czy akceptuje psy</label>
        <select name="CzyPsy" required>
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
        <label>Czy akceptuje koty</label>
        <select name="CzyKoty" required>
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
        <label>Czy akceptuje dzieci</label>
        <select name="CzyDzieci" required>
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
        <label>Zdjęcie1</label>
        <input type="text" name="AdresUrl1" required>
        <label>Zdjęcie2</label>
        <input type="text" name="AdresUrl2">
        <label>Zdjęcie3</label>
        <input type="text" name="AdresUrl3">
        <button type="submit">Dodaj</button>
    </form>

    <form th:action="@{/adminHomeOpiekun}" method="post">
        <h1>Dodawanie nowego opiekuna</h1>
        <label>Imie</label>
        <input type="text" name="Imie" required>
        <label>Nazwisko</label>
        <input type="text" name="Nazwisko" required>
        <label>Numer telefonu</label>
        <input type="text" name="NrTel" required>
        <label>Lata doświadczenia:</label>
        <input type="number" name="Doswiadczenie" required>
        <label>Zdjęcie</label>
        <input type="text" name="AdresUrlCzlowiek">

        <button type="submit">Dodaj</button>
    </form>

    <h1>Opiekunowie: </h1>
    <center>
        <div th:each="opiekun:${opiekunList}">
            <p th:text="${opiekun.imie}"></p>
            <p th:text="${opiekun.nazwisko}"></p>
            <p>Numer telefonu</p>
            <p th:text="${opiekun.nrTel}"></p>
            <p>Liczba zwierząt pod opieką:</p>
            <p th:text="${opiekun.iloscPodOpieka}"></p>
            <img th:src="@{${opiekun.AdresUrlCzlowiek}}" class="opiekun">
            <form th:action="@{/usunOpiekun}" method="post">
                <input type="hidden" th:name="idOpiekuna" th:value="${opiekun.IdOpiekuna}" />
                <button type="submit">Usuń opiekuna</button>
            </form>
        </div>
    </center>
</body>
</html>




<!--public int Id;-->
<!--public String Imie;-->
<!--public int NrKojca;-->
<!--public char Gatunek;//p/k-->
<!--public char Plec;//k/m-->
<!--public String Rasa;-->
<!--public String Umaszczenie;-->
<!--public String Wielkosc; //maly/sredni/duzy-->
<!--public boolean CzyDoAdopcji;-->
<!--public boolean CzyPsy; //czy moze zyc zpsami-->
<!--public boolean CzyKoty;-->
<!--public boolean CzyDzieci;-->